version: "3.9"

services:
  bot:
    build: .
    container_name: tg-bot
    depends_on:
      neo4j:
        condition: service_healthy
    environment:
      NEO4J_URI: bolt://neo4j:7687
      NEO4J_USER: neo4j
      NEO4J_PASSWORD: 12345678
      NEO4J_DATABASE: neo4j
    ports:
      - "8080:8080"   # если твоё приложение реально слушает 8080
    restart: unless-stopped

  neo4j:
    image: neo4j:5
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/12345678
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/logs:/logs
    healthcheck:
      test: [ "CMD", "wget", "--spider", "--quiet", "http://localhost:7474" ]
      interval: 10s
      timeout: 5s
      retries: 10

    restart: unless-stopped
